
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body, #app{
    height: 100%;
}

div#navbarNav {
    display: flex;
    justify-content: flex-end;
}

img.img-responsive {
    max-width: 100%;
    height: auto;
}

.max-width{
    max-width: 1300px;
    width: 100%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

header a.nav-link {
    padding-left: 0 !important;
}

nav.navbar.navbar-expand-sm {
    padding-left: 0;
}
.row{
	margin: 0 !important;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

div#adminsidebar {
    padding: 0;
}

div#adminsidebar li a {
    text-decoration: none !important;
}

a.navbar-brand {
    display: block;
    padding: 10px;
    margin: 0;
}

div#adminsidebar a.navbar-brand:hover {
    background: #1f2226;
    text-decoration: none !important;
}
 /*****************************
          PAGINATION
 *****************************/       
nav#page_nav {
    margin: 0;
    margin-bottom: 1.5rem;
}

nav#page_nav li {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f2226;
    margin-right: 2px;
    text-align: center;
    color: white;
    cursor: pointer; 
    list-style: none;   
}

ul.pagination-list {
    margin: 0;
    padding: 0;
    display: flex;
}

nav#page_nav li a {
    width: 30px;
    height: 30px;
    display: block;
    margin: 0;
    text-align: center;
    padding-top: 2px;
}

a.pagination-link.is-current {
    background: black;
}

header#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#content {
    width: 69%;
    height: 100%;
}

.sidebar {

    padding: 40px 10px 0 10px;
}

div#content {
    margin-top: 10px;
}

article#posts {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 20px;
}

article#posts p{
    margin-bottom: 8px;
}

article#posts a.read-more{
    margin-top: 30px;
}
hr{
    margin: 0;
    margin-top: 0 !important;
}
.flex {
    display: flex;
    justify-content: space-between;
}

/*****************************************
            FOOTER SECTION
*****************************************/
footer.site-footer.bg-darkest {
    background: black;
    padding: 50px 0;
    text-align: center;
    color: #555d65;
}

#footer-container .jumbotron{
    margin-bottom: 0;
}


div#subscriber-view,
div#subscriber-view .row {
    height: 100%;
}

div#adminsidebar,
.profile-sidebar{
    background: #1f2226;
}

#top-header nav{
    background: #232528;
}

.profile-sidebar a,
#top-header nav a{
    color: white;
}

button.btn-info {
    background: #3a4f52;
    border-color: #3a4f52;
}

footer button,
a.read-more {
    background: #3a4f52 !important;
    color: white;

}
.sidebar i{
    font-style: normal;
    font-size: 30px;
}
.sidebar i:before {
    font-family: fontawesome;
}

i.fab.fa-instagram:before {
    content: '\f16d';
}

i.fab.fa-facebook-f:before {
    content: '\f16d';
}

i.fab.fa-linkedin-in:before {
    content: '\f0e1';
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar ul.unstyled.icons-list li {
    margin-right: 10px;
}
